@charset "utf-8";
/* CSS Document */


.portafolio {
	background-image: url(/image/edificio.jpeg.png);
	background-position: center;
	background-size: cover;
	padding-top: 80px;
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 1.5rem;
	animation: fanimado 10s infinite;

	background-attachment: fixed;
}
@keyframes fanimado{
	from{
		background-position: 0 0;
	}
	
	to{
		background-position: 100% 100%;
	}
}

.portafolio h2 {
	font-family: 'Helvetica';
	font-weight: bold;
}

.portafolio hr {
	width: 30%;
	border: 2px solid rgb(255, 255, 255);
	margin: 20px auto;

}



.galeria {
	margin: auto;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.galeria__item {
	width: 300px;
	margin: 10px;
}


.galeria__img {
	display: block;
	max-width: 100%;
	border-radius: 4px;

}

.galeria__img:hover {
	box-shadow: 7px 7px 12px 0px rgba(59, 63, 64, 0.8);
	cursor: pointer;
}


/*Imagen Modal */




@media (max-width:500px) {
	.portafolio hr {
		width: 80%;
	}

}