@charset "utf-8";
/* CSS Document */


html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.inicio{
    width: 100vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/image/fondo1.png);
    background-size: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    background-position: center;
    width: 100%;
    animation: fanimado 10s infinite;

	background-attachment: fixed;

    
}
@keyframes fanimado{
	from{
		background-position: 0 0;
	}
	
	to{
		background-position: 100% 100%;
	}
}
.inicio .contenido-banner{
    display: block;
    padding: 10px;
    background-color: #131111;
    max-width: 350px;
    margin: 150px;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #000000;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('/img/rust.png');
	height: 60rem;
	background-size: cover;
	background-position: center;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
    font-size: 1.2rem;
} 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.art-contenedor h2 {
	align-content: center;

	padding-top: 15px;
	font-family: 'Helvetica';
	font-weight: bold;

}

.art-contenedor hr {
	width: 30%;
	border: 1px solid rgb(172, 172, 172);
	margin: 5px auto;

}

.art-contenedor {
	padding: 20px;
	align-items: center;
	align-content: center;
	height: 700px;
	background: #E3E3E3;

}
.asides  {
    background-image: url(/image/proyec.gif);
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	padding-top: 5px;
	width: 100%;
	height: 80vh ;
    
	
}


/* Estilo para centrar las imágenes dentro de cada div con la clase "imagen" */
.js{
	width: 80px;
	height: 250px;
}
.imagen {
	text-align: center;
}

.img-cont {
	display: inline-block;
}

.imagen {
	padding-top: 25px;
	width: 50%;
	height: 100px;
	float: left;

}

.img-cont {
	padding: auto;
	width: auto;
	height: auto;
	max-width: 700%;
	max-height: 700%;
}


textarea {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	border: 0;
	border: 1px solid lightblue;
	padding-left: 10px;
	padding-top: 10px;
}

input[name="envio"] {
	width: 30%;
	height: 35px;
	background: lightblue;
	border: 0;
	border-radius: 4px;
	color: #2E009F;
	cursor: pointer;
	display: block;
	margin: auto;

}


input[name="envio"]:hover {
	color: lightblue;
	background: darkblue;
	border: 0;


}
input[type="submit"] {
    width: 200px;
    height: 40px;
    background: #FFCE00;
    border-radius: 6px;
    color: #000000;
    border: 0;
    margin-bottom: 10px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}